.footerContainer{
    background-color: coral;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
}
.footerText{
    color: white;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.footerText p, h4{
    margin: 0;
}
